@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Video.Models.Movie>
<h1>List of Movies</h1>

@Html.ActionLink("Add Movie", "New")
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Movie</th>
                    <th scope="col">Date Released</th>
                    <th scope="col">Number In Stock</th>
                    <th scope="col">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <th>@i.Name</th>
                            <td>@i.ReleaseDate.ToShortDateString()</td>
                            <td>@i.NumberInStock</td>
                            <td>
                                <a href="@Url.Action("Edit","Movies", new { id = i.Id })" class="btn btn-primary">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                               <a href="@Url.Action("Delete","Movies", new { id = i.Id })" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</div>